<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Atsam A Geman Ikyenge</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  

<ion-list>
<ion-item  *ngFor= "let hymn of hymns" >
<h3 (click)="viewItem(hymn)" item-left padding> {{hymn.number}} </h3>
<h4 (click)="viewItem(hymn)"> {{hymn.title}} </h4>
<!--<button ion-button clear item-right (click)="viewItem(hymn)">View</button>-->
</ion-item>
  </ion-list>


</ion-content>
