page-home {

.home{
    text-align:center; 
    font-family:sans-serif;
    font-size: 70px;
    font-weight: 300px;
    margin-top:40%; 
    padding:50px; 
    color:white; 
}
.home-bg{
  background-color:lightslategray;
}

}
