<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Testament</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-bg">
  
<div class="home">
 <h1 > The New Testament</h1>
<h3>Find all you need in the navigation to the Right!</h3>
<h1> <= </h1>
</div>


</ion-content>
