<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <ion-title>  <h4> {{hymn.title}} </h4></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


<ion-card class="card">


        <ion-row padding  class="hymn">
            <ion-col>
               Hymn {{hymn.number}}
              <div>
              <!--<p style="font-size:20px;">{{hymn.song}} </p>-->
            <pre >  <p class="hymn">{{hymn.song}}</p></pre> 
              </div>
            </ion-col>

            
          </ion-row>
<p class="footer"> ~The End~  </p>

</ion-card>


</ion-content>
