hymn_detail{
    .hymn{
 
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    }
    .ion-note{
        font-size: 35px;
    }
    .footer{
       text-align:center;
       margin-bottom: 15px;
       font-size:20px;
       color: silver;
    }
    .card{
          background-color: whitesmoke;
    }
}