<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title> App Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-bg" >
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menu-bg">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>