<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Old Testament</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-bg">
  
<div class="home">
 <h1 > Select a Book </h1>

</div>
<!--
<ion-card>
  <ion-card-header>
    Card Header
  </ion-card-header>

  <ion-card-content>
     Add card content here! 
  </ion-card-content>
</ion-card>-->


<ion-list>
<ion-item  *ngFor= "let book of books" (click)="getChaptersz(book)" >
<ion-card>
  <ion-card-header>
    {{book}}
  </ion-card-header>
</ion-card>

</ion-item>
</ion-list>

<ion-list *ngIf='showChapter'>
<ion-item  *ngFor= "let chapter of chapters" (click)='getVerses(chapter)' >
{{chapter}}

</ion-item>
</ion-list>


<ion-list *ngIf='showVerse'>
<ion-item  *ngFor= "let verse of verses" >
{{verse}}

</ion-item>
</ion-list>


  
</ion-content>
